<!--use this file as a boilerplate -->

<% include templates/head.ejs %>


<body class="nav-md">

<div class="container body">


    <div class="main_container">

        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Survey World</span></a>
                </div>
                <div class="clearfix"></div>

                <% include templates/menu-profile.ejs %>

                <br/>

                <% include templates/sidebar-menu.ejs %>

                <% include templates/menu-footer-buttons.ejs %>
            </div>
        </div>

        <% include templates/top-navigation.ejs %>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>My Surveys</h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div>
                            <div class="x_content">
                                <h1>test</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>

</div>

<% include templates/foot.ejs %>