<% include templates/head.ejs %>


<body class="nav-md">

<div class="container body">


    <div class="main_container">

        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Survey World</span></a>
                </div>
                <div class="clearfix"></div>

                <% include templates/menu-profile.ejs %>

                <br/>

                <% include templates/sidebar-menu.ejs %>

                <% include templates/menu-footer-buttons.ejs %>
            </div>
        </div>

        <% include templates/top-navigation.ejs %>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>My Surveys</h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div>
                            <div class="x_content">
                                <div class="row">
                                    <%if(keys.length > 0){
                                        for(var i = 0; i < keys.length ; i++){
                                    %>
                                    <a href="/mysurveys?surveyName=<%=href[i]%>">
                                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="tile-stats">
                                            <div class="icon">
                                                    <i class="fa fa-folder-o"></i>
                                            </div>
                                            <%if(data[keys[i]].published == "true"){%>
                                            <div class="count" style="font-size: 30px">Published</div>
                                            <%}else{%>
                                            <div class="count" style="font-size: 30px">Draft</div>
                                            <%}%>
                                            <h3><%=data[keys[i]].surveyName%></h3>
                                            <p><%=data[keys[i]].surveyDescription%></p>
                                        </div>
                                    </div>
                                    </a>
                                    <%
                                        }
                                    }else{%>
                                        <div><h1>No Surveys yet...</h1></div>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /page content -->
    </div>

</div>

<% include templates/foot.ejs %>