<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Survey World</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="dist/css/Home.css">

</head>
<body>
<header id="main-header">
  <img src="logo.png" style="width:200px;height:80px" >
  <div id="alt-login-btn"><a href="/signin" class="button small">Log In</a>
  </div>
</header>

<section id="feature">
  <div class="container">
    <hgroup><h1>A simple and powerful online survey tool.</h1>
      <h2>Sign up now for <em>free</em> surveys, questions &amp; responses.</h2>
      <a href="/signin" class="button animated charcoal">Sign Up</a>
    </hgroup>
  </div>
</section>

<section id="site-description" class="container">
  <div class="four columns">&nbsp;
    <div id="mascot">
      <img src="survey.png">
    </div>
  </div>
  <div class="eight columns">
    <p>Survey World offers a tremendous set of free tools for designing your survey
      and reviewing your survey's results. </p>
  </div>
</section>

<section id="feature-descriptions" class="container">
  <h2>INTRODUCING SURVEY WORLD</h2>
  <div class="row">
    <div class="two columns">
      <div class="feature-icon themes">
      </div>
    </div>
    <div class="four columns feature-description">
      <h3>Custom Themes</h3>
      <p>Free SurveyPlanet users can choose between ten colorful survey themes.
        Pro users can build custom themes by choosing their own colors, fonts and background images.</p>
    </div>
    <div class="two columns">
      <div class="feature-icon images">
      </div>
    </div>
    <div class="four columns feature-description">
      <h3>Upload Images</h3>
      <p>A picture really can be worth a thousand words.
        Pro users can add images directly to their questions as well as opening and closing messages.</p>
    </div>
  </div>
  <div class="row">
    <div class="two columns">
      <div class="feature-icon responsive">
      </div>
    </div>
    <div class="four columns feature-description">
      <h3>Responsive Layout</h3>
      <p>Our surveys work on mobile devices, tablets and desktop computers.
        Before you share your survey, just head into Preview mode to see how
        it looks on different devices.</p>
    </div>
    <div class="two columns">
      <div class="feature-icon fast-easy">
      </div></div><div class="four columns feature-description">
      <h3>Best choice for Data intensive surveys</h3>
      <p>With the newest technologies ... actually cutting edge technology </p>
    </div>
  </div>

  </div>
</section>


<footer id="main-footer">
  <nav id="social-nav" class="clearfix">
    <p>Follow Us On:</p>

  </nav><p id="copyright"><a href="/legal">Terms of Service</a>|<a href="/legal#privacy-policy">Privacy Policy</a> |
    © 2016 Survey World, LLC. All Rights Reserved</p>
</footer>


</body>
</html>