<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<div class="container card-panel hoverable" style="margin:auto;padding:20px 50px;">
    <div class="row">
        <div class="col s12">
            <h1>Thank you for your response !!!</h1>
        </div>
    </div>
    <div class="row card-content">
        <h2>We would be happy to see you around here again. Why don't you give it a try ?</h2>
        <a class="waves-effect waves-light btn" href="/signin">Join Today</a>
    </div>
</div>

</body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</html>