<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    <div class="menu_section">
        <h3>Menu</h3>
        <ul class="nav side-menu">
            <ul class="nav side-menu">

                <li class=""><a href="/dashboard"><i class="fa fa-desktop"></i> My Surveys</a>

                </li>

                <li><a><i class="fa fa-home"></i> Create New <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li><a href="/createNew">Create new survey</a>
                        </li>
                    </ul>
                </li>

                <li class=""><a><i class="fa fa-table"></i> Help <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none;">
                        <li><a href="#">Create a Survey</a></li>
                        <li><a href="#">Create a Questionire</a></li>
                        <li><a href="#">More</a></li>
                    </ul>
                </li>
            </ul>
        </ul></div>

</div>
<!-- /sidebar menu -->